.outlay {
    &__info {
        font-family: $font-header;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__price {
        font-family: $font-header;
        font-size: 20px;
        margin-left: 60px;
        text-transform: uppercase;
    }
}
@media screen and (max-width:$screen-tablet) {
   .outlay {
       &__info {
           display: block;
           margin-bottom: 10px;
       }
       &__price {
           display: block;
           margin: 0;
           text-align: right;
       }
   } 
}