.page-header {
    max-width: 100%;
    padding-top: 54px;

    &__wrapper {
        width: calc(100% - 220px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__logo-desktop {
        width: 202px;
        height: 59px;
    }

    &__logo-mobil {
        display: none;
    }
}

@media screen and (max-width:$screen-tablet) {
    .page-header {
        &__wrapper {
            width: calc(100% - 60px);
        }

        &__logo-tablet {
            width: 173px;
        }
    }
}