.scale {
    display: flex;
    justify-content: space-around;

    &__before {
        font-family: $font-header;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__after {
        font-family: $font-header;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.range-bar {
    margin: 11px 25px;
}

.range-quantity {
    background-color: inherit;
}

.range-handle {
    width: 34px;
    height: 34px;
    background-image: url('../img/slider-control.png');
    background-position: center center;
    background-repeat: no-repeat;

}

.range-handle:hover {

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba($color-green, 0.8);

}