.site-list {

    list-style: none;
    display: flex;


    &__item {
        padding-top: 5px;
        padding-bottom: 10px;
        margin-left: 30px;
        font-family: $font-header;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;

        &--active {
            display: block;
            border-bottom: 2px solid #fff;
        }

        &:hover,
        &:focus {
            color: rgba(#fff, 0.6);

        }
    }
}

@media screen and (max-width: $screen-tablet) {
    .site-list {
        width: 445px;
        justify-content: space-between;

        &__item {
            font-size: 18px;
            color: #000;
            margin-left: 0;

            &--active {
                border-bottom-color: $color-green;
            }

            &:hover,
            &:focus {
                color: rgba(#000, 0.6);
            }


        }
    }
}