* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  max-width: 100%;
  padding-top: 54px;
}

.page-header__wrapper {
  width: calc(100% - 220px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-header__logo-desktop {
  width: 202px;
  height: 59px;
}

.page-header__logo-mobil {
  display: none;
}

.main-nav__toggle {
  display: none;
}

.site-list {
  list-style: none;
  display: flex;
}

.site-list__item {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.site-list__item--active {
  display: block;
  border-bottom: 2px solid #fff;
}

.first-screen__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -121px;
  margin-bottom: 90px;
  z-index: -1;
}

.first-screen__info {
  padding-top: 220px;
  width: 720px;
}

.first-screen__header {
  margin-bottom: 40px;
  margin-left: 190px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
}

.first-screen__slogan {
  margin-bottom: 40px;
  margin-left: 190px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
}

.first-screen__button {
  margin-left: 190px;
  margin-bottom: 40px;
}

.first-screen__background {
  width: 720px;
  height: 696px;
  background-image: url("../img/first-screen__background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: -2;
}

.first-screen__catenergy-image {
  max-width: 552px;
  position: absolute;
  top: 142px;
  left: calc(50% - 159px);
  z-index: -1;
}

.button {
  display: block;
  padding: 18px 3px;
  width: 245px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
}

.categories__wrapper {
  width: calc(100% - 220px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories__item {
  width: 570px;
  background-color: #f2f2f2;
  margin-bottom: 80px;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
}

.categories__item:first-child::before {
  content: '';
  width: 70px;
  height: 97px;
  background-image: url("../img/cat-slim.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 48;
  left: 75px;
  z-index: 1;
}

.categories__item:last-child::before {
  content: '';
  width: 134px;
  height: 56px;
  background-image: url("../img/cat-pro.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 72px;
  left: 34px;
  z-index: 1;
}

.categories__icon {
  width: 100px;
  height: 100px;
  background-color: #68b738;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 52px;
}

.categories__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-left: 214px;
  margin-bottom: 80px;
}

.categories__description {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0 52px;
  margin-bottom: 30px;
}

.categories__catalog_name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 52px;
}

.categories__arrow {
  margin-left: 40px;
}

.advantages__wrapper {
  width: calc(100% - 220px);
  margin: 0 auto;
  margin-bottom: 50px;
}

.advantages__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
  margin-bottom: 70px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: 245px;
  position: relative;
  margin-bottom: 70px;
}

.advantages__item:nth-child(1)::after {
  content: '1';
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 281px;
  line-height: 201px;
  color: #f2f2f2;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.advantages__item:nth-child(2)::after {
  content: '2';
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 281px;
  line-height: 201px;
  color: #f2f2f2;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.advantages__item:nth-child(3)::after {
  content: '3';
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 281px;
  line-height: 201px;
  color: #f2f2f2;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.advantages__item:nth-child(4)::after {
  content: '4';
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 281px;
  line-height: 201px;
  color: #f2f2f2;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.advantages__image {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}

.example__wrapper {
  width: calc(100% - 220px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.example__wrapper--grey {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 70px;
}

.example__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 80px;
}

.example__info {
  width: 50%;
  padding-top: 70px;
}

.example__description {
  width: 433px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 70px;
}

.example__parameter-wrap {
  display: flex;
  margin-bottom: 60px;
}

.example__weight, .example__time {
  margin-right: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.example__before-after {
  width: 50%;
  position: relative;
}

.example__before-after-image {
  position: absolute;
  top: -190px;
  left: -55px;
  display: flex;
  justify-content: center;
}

.example__before {
  width: 366px;
  height: 517px;
  background-image: url("../img/before.png");
  background-repeat: no-repeat;
  background-position: 0 20px;
}

.example__after {
  width: 272px;
  height: 517px;
  background-image: url("../img/after.png");
  background-repeat: no-repeat;
  background-position: -272px 0;
}

.example__scale {
  width: 100%;
  margin-top: 380px;
}

.weight {
  position: relative;
  width: 162px;
}

.weight__amount {
  margin: 0;
  padding: 20px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.weight__info {
  padding: 0 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: -6px;
  left: 20px;
}

.time {
  position: relative;
  width: 162px;
}

.time__amount {
  margin: 0;
  padding: 20px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.time__info {
  padding: 0 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: -6px;
  left: 7px;
}

.outlay__info {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.outlay__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  margin-left: 60px;
  text-transform: uppercase;
}

.scale {
  display: flex;
  justify-content: space-around;
}

.scale__before {
  margin-top: 7px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.scale__after {
  margin-top: 7px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.scale__range {
  -webkit-appearance: none;
  width: 430px;
  margin: 17px 25px;
  position: relative;
}

.scale__range::-webkit-slider-runnable-track {
  width: 430px;
  height: 6px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.scale__range::-webkit-slider-thumb {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  background-image: url(../img/slider-control.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.scale__range::-moz-range-track {
  width: 430px;
  height: 6px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.scale__range::-moz-range-thumb {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  background-image: url(../img/slider-control.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.scale__range::-ms-track {
  width: 430px;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.scale__range::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.scale__range::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.scale__range::-ms-thumb {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.contacts__wrapper {
  padding: 100px 0;
  background-image: url("../img/map-pin.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts__offer {
  width: 570px;
  height: 200px;
  margin-left: 110px;
  background-color: #fff;
  display: flex;
}

.contacts__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  width: 250px;
  margin: 0;
  padding: 70px 0 54px 76px;
}

.contacts__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 250px;
  padding: 70px 0 54px 76px;
}

.page-footer {
  max-width: 100%;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: calc(100% - 220px);
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
}

.page-footer__logo-text {
  width: 128px;
  height: 24px;
}

.social__list {
  margin: 0;
  list-style: none;
  display: flex;
  height: 28px;
  width: 150px;
  justify-content: space-between;
}

.social__link {
  position: relative;
}

.social__link--vk::before {
  content: '';
  width: 30px;
  height: 16px;
  background-image: url("../img/vk.png");
  background-position: 0 0;
  position: absolute;
  top: 6px;
  left: 0;
}

.social__link--inst::before {
  content: '';
  width: 23px;
  height: 23px;
  background-image: url("../img/insta.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 0;
}

.social__link--fb::before {
  content: '';
  width: 14px;
  height: 28px;
  background-image: url("../img/fb.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
